name: Go

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Setup dependencies
        run: go install github.com/vektra/mockery/v2@v2.9.0

      - name: Test
        run: |
          go generate -v ./...
          go test ./... -v -coverprofile=coverage.out
      
      -name: Vet
        run: go vet ./...

      - name: Build
        run: go build -v ./...
